@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: "Korean Looks";
  src: url("koreanlooks.ttf"); /* IE9 Compat Modes */
  src: url("koreanlooks.ttf2") format("ttf2"),
    url("koreanlooks.ttf") format("ttf2"),
    url("koreanlooks.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Favorit";
  src: url("http://db.onlinewebfonts.com/t/d73d37902ec72250867b578d3763ee38.eot");
  src: url("http://db.onlinewebfonts.com/t/d73d37902ec72250867b578d3763ee38.eot?#iefix")
      format("embedded-opentype"),
      url("http://db.onlinewebfonts.com/t/d73d37902ec72250867b578d3763ee38.woff2")
      format("woff2"),
      url("http://db.onlinewebfonts.com/t/d73d37902ec72250867b578d3763ee38.woff")
      format("woff"),
      url("http://db.onlinewebfonts.com/t/d73d37902ec72250867b578d3763ee38.ttf")
      format("truetype"),
      url("http://db.onlinewebfonts.com/t/d73d37902ec72250867b578d3763ee38.svg#Favorit")
      format("svg");
}

  body {
    font-family: 'Eb Garamond', serif;
    margin: 10px;
    line-height: 40px;
    font-size: 28px;
  }
  
  :root {
    cursor: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/cursor.png), auto;
  }
  
  .flex-container {
    display: flex;
  }
  
  .flex-container > div {
    margin: 5px 5em 2em 0px;
  }
  
  .recipe {
    /* font-size: 20px;
    font-family: 'EB Garamond', serif;
    line-height: 28px; */
    width: 60vw;
    padding-bottom: 75px;
    /* margin: 10px; */
  }
  
  .step {
    font-style: italic;
    font-weight: bold;
    scroll-margin-top: 40px;
    /* font-size: 25px; */
  }
  
  .about {
    margin: 90px 150px 3em 150px;
    text-align: justify;
  }

  .ps {
    border: 1px solid #000;
    box-shadow: 5px 5px #000;
    padding: 10px;
    margin: 90px 150px 2.5em 150px;
    text-align: justify;
  }
  
  .hover-title {
    display: inline;
    pointer-events: auto;
    cursor: pointer;
    background-size: 50;
    border-bottom: 3px dashed rgb(51, 255, 0);
    padding: 2px;
    cursor: help;
  }
  
  .hover-image {
    visibility: hidden;
  }
  
  body:not(.mobile) .hover-title:hover + .hover-image {
    visibility: visible;
    pointer-events: none;
  }
  
  .hover-image {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    justify-content: center;
    width: 90vw;
    height: 90vh;
  }
  
  .hover-image img {
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 0;
  }
  
  a {
    color: #000000;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
  
    font-size: 30px;
  }
  
  a:hover {
    font-style: italic;
    cursor: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/cursor.png), auto;
  }
  
  #kimchiMenu {
    transition: top 0.5s;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 98vw;
    top: 10px;
    transition: top 0.5s;
  }
  
  #recipeMenu {
    position: fixed;
    margin-top: 45px;
    right: 10px;
    top: 10px;
    transition: top 1s;
    font-size: 20px;
  }

  #smallLink {
    font-size: 25px;
  }

  #midnight {
    color: #ff00a6;
    text-shadow: 5px 5px 5px #ff00a6;
  }

  .gradient {
    background: #CF0000;
    background: linear-gradient(to right, #CF0000 0%, #ACCF00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  kimchi {
    background-size: 50;
    padding: 20px;
    width: 70px;
    text-align: center;
    background-image: url("../images/chopsticks.png");
    background-size: 75px 75px;
    background-repeat: no-repeat;
    background-position: center;
  }
  kimchi:after {
    content: "김치";
    background-size: 50;
  }
  kimchi:hover:after {
    content: "kimchi";
  }
  
  sohnmat {
    padding: 22px;
    width: 100px;
    text-align: center;
    background-image: url("../images/heart.png");
    background-size: 75px 75px;
    background-repeat: no-repeat;
    background-position: center;
  }
  sohnmat:after {
    content: "손맛";
  }
  sohnmat:hover:after {
    content: "sohn mat";
    /* font-size: 20px; */
  }

  #closed-message {
    color: #CDCDCD;
    padding-top: 100px;
    font-size: 25px;
  }

  #open-message {
    color: #CDCDCD;
    padding-top: 100px;
    font-size: 25px;
  }

  @media only screen and (max-width: 700px) {
    .about {
      width: 100%;
      margin: 0px;
    }
  }