@font-face {
    font-family: "Korean Looks";
    src: url("koreanlooks.ttf"); /* IE9 Compat Modes */
    src: url("koreanlooks.ttf2") format("ttf2"),
      url("koreanlooks.ttf") format("ttf2"),
      url("koreanlooks.ttf") format("truetype"); /* Safari, Android, iOS */
  }
  
  @font-face {
    font-family: "Favorit";
    src: url("http://db.onlinewebfonts.com/t/d73d37902ec72250867b578d3763ee38.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/d73d37902ec72250867b578d3763ee38.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */
        url("http://db.onlinewebfonts.com/t/d73d37902ec72250867b578d3763ee38.woff2")
        format("woff2"),
      /* chrome firefox */
        url("http://db.onlinewebfonts.com/t/d73d37902ec72250867b578d3763ee38.woff")
        format("woff"),
      /* chrome firefox */
        url("http://db.onlinewebfonts.com/t/d73d37902ec72250867b578d3763ee38.ttf")
        format("truetype"),
      /* chrome firefox opera Safari, Android, iOS 4.2+*/
        url("http://db.onlinewebfonts.com/t/d73d37902ec72250867b578d3763ee38.svg#Favorit")
        format("svg"); /* iOS 4.1- */
  }
  
  body {
    font-family: "Favorit";
    margin: 10px;
    font-size: 25px;
  }
  
  :root {
    cursor: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/cursor.png), auto;
  }
  
  .flex-container {
    display: flex;
  }
  
  .flex-container > div {
    margin: 0px 0px 0.5em 1em;
  }
  
  .recipe {
    margin: 0px 50px 2em 500px;
  }
  
  .step {
    padding-top: 4.7em;
    border-bottom: 1px solid #000;
  }
  
  .about {
    line-height: 40px;
    margin: 0px 150px 3em 150px;
  }
  
  .hover-title {
    display: inline;
    pointer-events: auto;
    cursor: pointer;
    background-size: 50;
    border: 1px solid #000;
    padding: 2px;
    cursor: help;
  }
  
  .hover-image {
    visibility: hidden;
  }
  
  body:not(.mobile) .hover-title:hover + .hover-image {
    visibility: visible;
    pointer-events: none;
  }
  
  .hover-image {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
  
    width: 90vw;
    height: 90vh;
  }
  
  .hover-image img {
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 0;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  
  a:hover {
    font-style: italic;
    cursor: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/cursor.png), auto;
  }
  
  .kimchiMenu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 98vw;
  }
  
  .recipeMenu {
    overflow: hidden;
    position: fixed;
    list-style: none;
    margin-top: 100px;
  }
  
  kimchi {
    background-size: 50;
    padding: 17px;
    display: inline-block;
    width: 70px;
    text-align: center;
    background-image: url("../images/chopsticks.png");
    background-size: 75px 75px;
    background-repeat: no-repeat;
    background-position: center;
  }
  kimchi:after {
    content: "김치";
    background-size: 50;
  }
  kimchi:hover:after {
    content: "kimchi";
  }
  
  sohnmat {
    padding: 17px;
    display: inline-block;
    width: 100px;
    text-align: center;
    background-image: url("../images/heart.png");
    background-size: 75px 75px;
    background-repeat: no-repeat;
    background-position: center;
  }
  sohnmat:after {
    content: "손맛";
    font-size: 23px;
  }
  sohnmat:hover:after {
    content: "sohn mat";
  }

  #closed-message {
    color: #CDCDCD;
    padding-top: 100px;
  }

  #open-message {
    color: #CDCDCD;
    padding-top: 100px;
  }

  @media only screen and (max-width: 700px) {
    .about {
      width: 100%;
      margin: 0px;
    }
  }